.form-horz {
 input[type="text"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    height: 20px;
    line-height: 20px;
    width: 200px;
    vertical-align: middle;
    padding: 5px 10px 5px 10px !important;
  }
  button {
    background-color: #333;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
    border: 0;
  }
}
