@font-face {
  font-family: QuickSand;
  src: url("../../fonts/Quicksand-Regular.otf") format("opentype");
}
.container {
  background-color: #abcdef;
  padding: 20px;
  width: 960px;
  margin: 0 auto;
  text-align: center;
  .header {
    font-family: Helvetica, Arial;
    color: #fff;
    font-family: QuickSand;
  }
}
